#portfolio {
    display: flex;
    position: relative;
}

/* #portfolio-header {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 64px;
} */

#portfolio-label {
    position: sticky;
    top: 0;
    z-index: 2;
}

#portfolio-info {
    font-size: 32px;
}

