a {
    text-decoration: none;
}

#portfolio {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    position: relative;
    font-family: 'Metropolis', sans-serif;
}

.bubble-container {
    width: 15rem;
    height: 15rem;
    position: absolute;
    animation: emerge 1.5s forwards;
    box-shadow: gray;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bubble {
    width: 5rem;
    height: 5rem;
    position: absolute;
    background-color: black;
    border-radius: 100%;
    transition: 1.5s;
    box-shadow: 2px 0px 2px gray;
    overflow: hidden;
}

.bubble-img {
    position: absolute;
    height: 100%;
    width: 100%;
    /* border-radius: 100%; */
    object-fit: cover;
    object-position: 50% 50%;
    transition: opacity 0.2s;
    animation: antirotate 1.5s forwards, fade-in 1.5s forwards;
}

.bubble-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: antirotate 1.5s forwards;
    background-color: rgba(237,237,237, 0.7);
    transition: opacity .2s;
    opacity: 0;
    text-align: center;
    color: black
}

.bubble-info:hover {
    opacity: 1;
}

.bubble-info h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.ico {
    width: 5rem;
    height: 5rem;
}

.top-left {
    right: 0;
    top: 50%;
    transform: translateX(5rem) translateY(-50%);
    animation: expand 1.5s forwards;
}

.top-right {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(5rem);
    animation: expand 1.5s forwards;

}

.bot-left {
    left: 50%;
    transform: translateX(-50%) translateY(-5rem);
    animation: expand 1.5s forwards;

}

.bot-right {
    left: 0;
    top: 50%;
    transform: translateX(-5rem) translateY(-50%);
    animation: expand 1.5s forwards;
}

.exit {
    animation: expand 1.5s forwards, exit 1s forwards;
}

.retreat {
    animation: emerge 1.5s forwards, retreat 1s forwards;
}

@keyframes emerge {
    0% {
        width: 5rem;
        height: 5rem;
    }

    40% {
        width: 15rem;
        height: 15rem;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        width: 50rem;
        height: 50rem;
        transform: translate(-50%, -50%) rotate(225deg);
    }
}

@keyframes expand {
    0% {
        width: 5rem;
        height: 5rem;
    }

    50% {
        width: 5rem;
        height: 5rem;
    }

    100% {
        width: 17rem;
        height: 17rem;
    }
}

@keyframes antirotate {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-225deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes exit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes retreat {
    0% {
        width: 50rem;
        height: 50rem;
        transform: translate(-50%, -50%) rotate(225deg);
    }

    60% {
        width: 15rem;
        height: 15rem;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        width: 5rem;
        height: 5rem;
    }
}