#about {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    position: relative;
    font-family: 'Metropolis', sans-serif;
}

#about-me-txt {
    position: absolute;
    width: 25rem;
    word-wrap: normal;
    text-align: center;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    opacity: 0;
    animation: fade-in 2s forwards;
    transform: translate(-36rem, -14rem);
}

#education-txt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25rem;
    font-size: 1.5rem;
    word-wrap: normal;
    text-align: center;
    opacity: 0;
    animation: fade-in 2s forwards;
    transform: translate(13rem, -14rem);
}

#about-me-svg {
    position: absolute;
    width: 21.94rem;
    height: 11.06rem;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -150%)
}

path {
    stroke-linecap: round;
    stroke-width: 3px;
    /* stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: stroke-in 2s; */
    animation-fill-mode: forwards;
}

#education-svg {
    position: absolute;
    width: 27.88rem;
    height: 11.06rem;
    top: 50%;
    left: 50%;
    transform: translate(16%, -150%)
}

#skills-svg {
    position: absolute;
    width: 21.94rem;
    height: 6.38rem;
    top: 50%;
    left: 50%;
    transform: translate(-120%, 80%)
}

#me-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-21rem, -20rem)
}

#education-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(12.5rem, -20rem)
}

#skills-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-25rem, 8rem)
}

#skills-container {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-35rem, 12rem);
    /* display: flex; */
    animation: fade-in 2s forwards;
    /* justify-content: center; */
}

#education-container {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(12rem, -11rem);
    animation: fade-in 2s forwards;
}

.school-container {
    /* opacity: 0; */
    display: flex;
    align-items: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(12rem, -12rem); */
    /* animation: fade-in 3s forwards; */
}

.school-logo {
    width: 7rem;
}

.school-info {
    display: inline-block;
    text-align: center;
    margin-left: 2rem;
    font-size: 1.7rem;
}

.skill-item {
    font-size: 2rem;
    text-align: center;
    margin: .7rem 0;
}

.small-stroke {
    stroke-dasharray: 443;
    stroke-dashoffset: 443;
    animation: stroke-in-small 1.5s forwards;
}

.lg-stroke {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: stroke-in-lg 1.5s forwards;
}

.about-title {
    font-family: 'Documenta';
    font-size: 4rem;
    opacity: 0;
    animation: fade-in 1.5s forwards;
}

.stroke-out-small {
    animation: stroke-out-small 1s forwards;
}

.stroke-out-lg {
    animation: stroke-out-lg 1s forwards;
}

.fade-out {
    animation: fade-out 1s forwards !important;
}

button {
    position: absolute;
    top: 20%;

}

@keyframes fade-in {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes stroke-in-small {
    0% {
        stroke-dashoffset: 443;
    }

    to {
        stroke-dashoffset: 0;
    }

}
@keyframes stroke-in-lg {
    0% {
        stroke-dashoffset: 600;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes stroke-out-small {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 443;
    }
}

@keyframes stroke-out-lg {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 600;
    }
}

@media only screen and (max-width: 1300px) {
    .body-container {
        height: 88vh;
    }
}

@media only screen and (max-width: 768px) {
    #about-me-txt {
        position: unset;
        transform: none;
        margin: 1rem;
    }
    
    #education-txt {
        position: unset;
        transform: none;
        margin: 1rem;
    }
    
    #me-title {
        position: unset;
        transform: none;
        margin: 1rem;
    }
    
    #education-title {
        position: unset;
        transform: none;
        margin: 1rem;
    }
    
    #skills-title {
        position: unset;
        transform: none;
        margin: 1rem;
    }
    
    #skills-container {
        position: unset;
        transform: none;
        margin: 1rem;
    }
    
    #education-container {
        position: unset;
        transform: none;
        margin: 1rem;
    }
}