

#about {
    /* width: 100vw;
    height: 100vh; */
    position: relative;
    display: flex;
}

/* #about-header {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 64px;
} */

#about-label {
    position: sticky;
    top: 0;
    z-index: 2;
}

#about-left {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    /* border: 1px solid #707070; */
}

#pfp {
    border-radius: 100%;
    border: 5px black;
    margin: 50px 0;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(5%);}
    100% { opacity: 1; transform: translateY(0%)}
}