@font-face {
    font-family: 'Documenta';
    src: url('./res/documenta/Documenta.otf');
}

@font-face {
    font-family: 'Metropolis';
    src: url('./res/Metropolis/Metropolis-Light.otf');
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.body-container {
    width: 100vw;
    height: 90vh;
    position: relative;
}



@media only screen and (max-height: 1000px) {
    html {
      font-size: 14px;
    }
}

@media only screen and (max-height: 800px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-height: 690px) {
    html {
        font-size: 10px;
    }
}
