@font-face {
    font-family: 'Documenta';
    src: url('./res/documenta/Documenta.otf');
}

@font-face {
    font-family: 'Metropolis';
    src: url('./res/Metropolis/Metropolis-Light.otf');
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* font-size: 20px !important; */
}

.body-container {
    width: 100vw;
    height: 90vh;
    position: relative;
}